.board {
  /* Extract to javascript later */
  --grid-gap: 0.3rem;
  width: 100%;
  display: grid;
  list-style-type: none;
  margin: 0;
  /* TODO: Move to javascript to make configurable (could do actual calculation but looks complex, so guesstimate ratio) */
  gap: var(--grid-gap) calc(var(--grid-gap) * 2);
}

.cell {
  width: 100%;
  position: relative;
  grid-column-end: span 3;
  grid-row-end: span 2;
  height: 0;
  /* sqrt(3)/2 * 2 * length_side_hex for height regular hexagon (plus some extra because boetiful)*/
  padding-bottom: 88.6025%;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  background-color: #fdadad;
}

.cell_content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
