.board {
  /* Extract to javascript later */
  --grid-gap: 0.5rem;
  width: 100%;
  display: grid;
  list-style-type: none;
  margin: 0;
  /* TODO: Move to javascript to make configurable (could do actual calculation but looks complex, so guesstimate ratio) */
  gap: var(--grid-gap) calc(var(--grid-gap) * 2);
}

.board-wrapper {
  padding-bottom: 200px;
}

.cell {
  width: 100%;
  position: relative;
  grid-column-end: span 3;
  grid-row-end: span 2;
  height: 0;
  /* sqrt(3)/2 * 2 * length_side_hex for height regular hexagon (plus some extra because boetiful)*/
  padding-bottom: 88.6025%;
  cursor: pointer;
}

.cell:hover {
  filter: drop-shadow(0px 0px 4px rgba(50, 50, 0, 0.5));
}

.cell_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.cell_content.cell-occupied .cell_clip {
  background-color: #fdadad;
}

.cell_clip {
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: lightgray;
  text-align: center; /* For debugging purposes */
}

.cell-z {
  z-index: -1;
}

.insect-selector {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: #ddd;
  padding: 1rem;
}

.insect {
  cursor: pointer;
  display: block;
  border: 1px solid darkgray;
  padding: 1rem;
}
