.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(30deg);
}

.loader-div {
  position: absolute;
  width: 25px;
  height: 14px;
}

.loader-div:nth-of-type(2) {
  transform: rotate(60deg);
}
.loader-div:nth-of-type(3) {
  transform: rotate(-60deg);
}

.loader-div .loader-div {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader-div .loader-div span {
  position: absolute;
  width: 2px;
  height: 0%;
  background: #053146;
  z-index: 999999;
}

.h1 {
  left: 0;
  animation: load1 3s ease infinite;
}
.h2 {
  right: 0;
  animation: load2 3s ease 0.2s infinite;
}
.h3 {
  right: 0;
  animation: load3 3s ease 0.4s infinite;
}
.h4 {
  right: 0;
  animation: load4 3s ease 0.6s infinite;
}
.h5 {
  left: 0;
  animation: load5 3s ease 0.8s infinite;
}
.h6 {
  left: 0;
  animation: load6 3s ease 1s infinite;
}

@keyframes load1 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.944444433% {
    top: 0;
    height: 0;
  }
  /*   91.6666667%{top:0;height:0%;} */
}

@keyframes load2 {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.944444433% {
    bottom: 0;
    height: 0;
  }
  /*   91.6666667%{bottom:0;height:0%} */
}

@keyframes load3 {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.94444443% {
    bottom: 0;
    height: 0;
  }
  /*   91.6666667%{bottom:0;height:0%;} */
}

@keyframes load4 {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.94444443% {
    bottom: 0;
    height: 0;
  }
  /*   91.6666667%{bottom:0;height:0%;} */
}

@keyframes load5 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.94444443% {
    top: 0;
    height: 0;
  }
  /*   91.6666667%{top:0;height:0%;} */
}

@keyframes load6 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.94444443% {
    top: 0;
    height: 0;
  }
  /*   91.6666667%{top:0;height:0%;} */
}
